<div _ngcontent-yot-c7="" class="main-content">
  <div _ngcontent-yot-c7="" class="container-fluid">
    <div _ngcontent-yot-c7="" class="row">
      <div _ngcontent-yot-c7="" class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div _ngcontent-yot-c7="" class="card card-stats">
          <div
            _ngcontent-yot-c7=""
            class="card-header card-header-warning card-header-icon"
          >
            <div _ngcontent-yot-c7="" class="card-icon">
              <i _ngcontent-yot-c7="" class="material-icons">person_outline</i>
            </div>
            <p _ngcontent-yot-c7="" class="card-category">Patient Visits</p>
            <h3 _ngcontent-yot-c7="" class="card-title">
              0 <small _ngcontent-yot-c7="">visits</small>
            </h3>
          </div>
          <div _ngcontent-yot-c7="" class="card-footer">
            <div _ngcontent-yot-c7="" class="stats">
              <i _ngcontent-yot-c7="" class="material-icons">date_range</i>
              today's count
            </div>
            <div
              _ngcontent-yot-c7=""
              class="refresh-widget mat-tooltip-trigger"
              mattooltip="Reload"
              aria-describedby="cdk-describedby-message-18"
              cdk-describedby-host=""
            >
              <i _ngcontent-yot-c7="" class="material-icons pull-right"
                >refresh</i
              >
            </div>
          </div>

        </div>
      </div>
      <div _ngcontent-yot-c7="" class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
        <div _ngcontent-yot-c7="" class="card card-stats">
          <div
            _ngcontent-yot-c7=""
            class="card-header card-header-danger card-header-icon"
          >
            <div _ngcontent-yot-c7="" class="card-icon">
              <i _ngcontent-yot-c7="" class="material-icons">coronavirus</i>
            </div>
            <p _ngcontent-yot-c7="" class="card-category">
              Covid Patient Visits
            </p>
            <h3 _ngcontent-yot-c7="" class="card-title">
              0 <small _ngcontent-yot-c7="">visits</small>
            </h3>
          </div>
          <div _ngcontent-yot-c7="" class="card-footer">
            <div _ngcontent-yot-c7="" class="stats">
              <i _ngcontent-yot-c7="" class="material-icons">date_range</i>
              today's count
            </div>
            <div
              _ngcontent-yot-c7=""
              class="refresh-widget mat-tooltip-trigger"
              mattooltip="Reload"
              aria-describedby="cdk-describedby-message-18"
              cdk-describedby-host=""
            >
              <i _ngcontent-yot-c7="" class="material-icons pull-right"
                >refresh</i
              >
            </div>
          </div>

        </div>
      </div>
      <!----><!---->
    </div>
    <!----><!---->
    <div _ngcontent-yot-c7="" class="row patient-visits">
      <div _ngcontent-yot-c7="" class="col-xl-12 col-md-12">
        <div _ngcontent-yot-c7="" class="card">
          <div _ngcontent-yot-c7="" class="card-header card-header-primary">
            <h4 _ngcontent-yot-c7="" class="card-title">
              Patient Visits
              <a
                _ngcontent-yot-c7=""
                aria-controls="patientVisitsCardToggle"
                aria-expanded="true"
                class="pull-right card-toggle-btn"
                data-toggle="collapse"
                href="#patientVisitsCardToggle"
                role="button"
                ><i _ngcontent-yot-c7="" class="material-icons text-white"
                  >import_export</i
                ></a
              >
            </h4>
            <p _ngcontent-yot-c7="" class="card-category">
              Search Patient visits and view reports
            </p>
          </div>
          <div
            _ngcontent-yot-c7=""
            class="card-body collapse show"
            id="patientVisitsCardToggle"
          >
            <div _ngcontent-yot-c7="" class="row">
              <div _ngcontent-yot-c7="" class="col-md-12">
                <div _ngcontent-yot-c7="" class="form-inline">
                  <div _ngcontent-yot-c7="" class="form-group">
                    <div _ngcontent-yot-c7="" class="input-group">
                      <input
                        _ngcontent-yot-c7=""
                        class="form-control ng-untouched ng-pristine ng-valid"
                        name="dateFrom"
                        ngbdatepicker=""
                        placeholder="Reg. date from"
                      />
                      <div _ngcontent-yot-c7="" class="input-group-append">
                        <button
                          _ngcontent-yot-c7=""
                          class="btn btn-outline-primary btn-sm"
                          type="button"
                        >
                          <i _ngcontent-yot-c7="" class="material-icons"
                            >date_range</i
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                  <span _ngcontent-yot-c7="">&nbsp;&nbsp;&nbsp;</span>
                  <div _ngcontent-yot-c7="" class="form-group">
                    <div _ngcontent-yot-c7="" class="input-group">
                      <input
                        _ngcontent-yot-c7=""
                        class="form-control ng-untouched ng-pristine ng-valid"
                        name="dateTo"
                        ngbdatepicker=""
                        placeholder="Reg. date to"
                      />
                      <div _ngcontent-yot-c7="" class="input-group-append">
                        <button
                          _ngcontent-yot-c7=""
                          class="btn btn-outline-primary btn-sm"
                          type="button"
                        >
                          <i _ngcontent-yot-c7="" class="material-icons"
                            >date_range</i
                          >
                        </button>
                      </div>
                    </div>
                  </div>
                  <span _ngcontent-yot-c7="">&nbsp;&nbsp;&nbsp;</span>
                  <div _ngcontent-yot-c7="" class="form-group">
                    <button
                      _ngcontent-yot-c7=""
                      class="btn btn-outline-primary btn-sm"
                      type="button"
                    >
                      <i _ngcontent-yot-c7="" class="material-icons">search</i>
                      Search
                    </button>
                  </div>
                  <span _ngcontent-yot-c7="">&nbsp;&nbsp;&nbsp;</span>
                  <div _ngcontent-yot-c7="" class="form-group">
                    <label _ngcontent-yot-c7="">Total Record(s): 0</label>
                  </div>
                </div>
              </div>
            </div>
            <div _ngcontent-yot-c7="" class="row">
              <div _ngcontent-yot-c7="" class="col-md-12">
                <!---->
                <div _ngcontent-yot-c7="" class="text-center ng-star-inserted">
                  <hr _ngcontent-yot-c7="" />
                  <h5 _ngcontent-yot-c7="" class="text-primary">
                    no record found
                  </h5>
                  <hr _ngcontent-yot-c7="" />
                </div>
                <!----><!---->
              </div>
            </div>

          </div>
        </div>
      </div>
      <!---->
    </div>
  </div>
</div>
